body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #111;
    color: white;
  }

  #mediaContainer {
    object-fit: cover;
  }
  
  #enterBtn {
    padding: 16px 28px;
    border: none;
    border-radius: 8px;
    background: #444;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  #viewer {
    position: fixed;
    inset: 0;
    background: black;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  video, img {
    max-width: 100vw;
    max-height: auto;
  }
  
  #controls {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  
  .ctrlBtn {
    padding: 12px 22px;
    background: #333;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
  }
  
  #fsBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 3px 10px;
    background: #444;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.8rem;
  }
  